<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <%- include('../partials/head'); %>
    </head>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <body>
        <div style="padding:50px">
            <h4>Welcome to my brain! The original purpose for this website was a place to share the essay I wrote 
                during my midlife crisis to organize my thoughts and also to study for my AWS cloud computing certification 
                exam. I have since figured out it's a great place to organize and vent my thoughts so I don't annoy my friends
                and family with the endless thoughts going through my brain.</h3>

            <h4>Most of the ideas on this site are likely unoriginal and a large portion are likely incorrect. But I like the 
                quote “if you’re not willing to be a fool, you’re only getting older.” If you disagree with an idea please send 
                me an email! I'd be curious to see where I might be wrong so I can improve upon my train of thought. My email is zacnasu@gmail.com</h3>
            
            <h2>Technology</h2>
            <H5>As I said earlier, the purpose of this site was to study for my AWS certification, therefore I did not put a lot of work
                into the frontend, so it likely looks pretty terrible. I mostly focused on the cloud arcitecture and devops and this is the stack that I used:
            </H5>
            <h3>Web</h3>
            <ul>
                <li>Bootstrap</li>
                <li>Express</li>
                <li>EJS</li>
            </ul>
            <h3>AWS Technologies</h3>
            <ul>
                <li>Route 53</li>
                <li>Elastic Beanstalk</li>
                <li>DynamoDB</li>
                <li>Codepipeline (Devops integration with Github)</li>
                <li>IAM and Organizations (Security)</li>
            </ul>
            <h5><a href="https://github.com/zacnasu/blog-app">Source Code on Github</a></h5>
        </div>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <script src="" async defer></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    </body>
</html>